# General
ASPNETCORE_ENVIRONMENT=Development
NODE_ENV=production

# Docker images
DOTNET_IMAGE=superapp/dotnet:latest
NESTJS_IMAGE=superapp/nestjs:latest
WEAKAPP_IMAGE=superapp/weakapp:latest

# Host ports
DOTNET_HOST_PORT=8080
NESTJS_HOST_PORT=3000
FRONTEND_HOST_PORT=8088
FRONTEND_DEV_PORT=4200

# Postgres
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppassword
POSTGRES_DB=appdb
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_CONTAINER_NAME=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_DEFAULT_VHOST=/